@inherits HCM.Client.FrameModel
@using HCM.Client.Components

<div class="modal modal-container @(IsVisible ? "modal-active":string.Empty)"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-overlay" @onclick="CloseModal"></div>
        <div class="blazor-modal modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Are you sure?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@CloseModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body align-content-center">
                <div>
                    <h5>Do you really want to delete @Name?</h5>
                    <div class="alert alert-danger" role="alert">This process can't be undone.</div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button @onclick="@CloseModal" type="button" class="btn btn-primary">
                        Cancel
                    </button>
                    <button @onclick="DeleteEmployee" type="button" class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>


@code{

    public bool ShowPopUp { get; set; } = true;
    public bool deleteConfirm;

    protected void DeleteEmployee()
    {
        deleteConfirm = true;
        OnDelete.InvokeAsync(new DeleteEventArgs { willDelete = deleteConfirm });
    }

    [Parameter]
    public EventCallback<DeleteEventArgs>
    OnDelete { get; set; }
}