@typeparam TItem
@using Microsoft.AspNetCore.Components;

<ul class="data_list list_group list">
    @foreach (var item in Items)
    {
        <li class=@(Style == DataListStyle.Cards ? "data_card card grid_item" : string.Empty)>
            @Template(item)
        </li>
    }
</ul>

@code {

    [Parameter]
    public DataListStyle Style { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment<TItem> Template { get; set; }

}
