@using System.Text.RegularExpressions
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="sidebar @TogglinClass">
    <NavMenu />
</div>
<div class="middle-layer">
    <div class="middle-layer_barline"></div>
    <div>
        <div>
            <div class="button_nav toggler_button" @onclick="NavToggler">
                <div class="button_spacer"></div>
                <span class="button_icon"></span>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="topRow bg--lightGray btm--gray px-4">
        <h2 style="text-transform: capitalize;">
            @Regex.Match(NavigationManager.Uri, "(?<=\\/)[a-z]*$")
        </h2>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    private string TogglinClass = "sidebar_show";
    private int Toggler = 1;

    private void NavToggler()
    {
        Toggler = Toggler * -1;
        if (Toggler == 1)
        {
            TogglinClass = "sidebar_show";
        }
        else
        {
            TogglinClass = "sidebar_hidden";
        }
    }
}