@using System.Text.RegularExpressions
@using HCM.Client.Shared
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject HttpClient httpClient
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager navigationManager

<div class="sidebar @TogglinClass">
    <NavMenu />
</div>

<div class="middle-layer">
    <div class="middle-layer_barline"></div>
    <div>
        <div>
            <div class="button_nav toggler_button" @onclick="NavToggler">
                <div class="button_spacer"></div>
                <span class="button_icon"></span>
            </div>
        </div>
    </div>
</div>
<div class="main">
    @if (employee != null)
    {
        <div class="topRow bg--lightGray btm--gray px-4">
            <button class="ml-md-auto button_submenu_picture"><img src="/Images/@employee.Image" alt="@employee.Name" class="profile_picture" /></button>
            <nav class="menu">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button class="button_submenu_picture" @onclick="Profile">Profile</button>
                    </li>
                    <li class="list-group-item">
                        <button class="button_submenu_picture" @onclick="logout">Log out</button>
                    </li>
                </ul>
            </nav>
        </div>
    }
    <div class="content px-4">
        @Body
    </div>
</div>


@code{
    private string TogglinClass = "sidebar_show";
    private int Toggler = 1;
    private GraphQLApiClient gql = null;
    private GqlEmployee employee = null;

    protected override async Task OnInitializedAsync()
    {
        var name = await sessionStorage.GetItemAsync<string>("name");

        gql = new GraphQLApiClient(httpClient, "http://localhost:7474/graphql/");

        if (name != null)
        {
            var query = gql.Employee(string.Empty, user: name, fields: e => new GqlEmployee
            {
                _id = e._id,
                Name = e.Name,
                Image = e.Image

            });
            employee = (await query.RunAsync()).FirstOrDefault();
        }
    }


    private void NavToggler()
    {
        Toggler = Toggler * -1;
        if (Toggler == 1)
        {
            TogglinClass = "sidebar_show";
        }
        else
        {
            TogglinClass = "sidebar_hidden";
        }
    }

    public async Task logout()
    {
        await sessionStorage.SetItemAsync("name", null);
        navigationManager.NavigateTo("/login");
    }

    public void Profile()
    {    
       navigationManager.NavigateTo("/employee/" + employee._id);
    }
}