@using System.Text.RegularExpressions
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="sidebar @TogglinClass">
    <NavMenu />
</div>

<div class="main btm--gray">
    <div class="topRow bg--lightGray btm--gray px-4">
        <button class="btn btn-primary toggler-button" @onclick="NavToggler"><span class="@Icon"></span></button>
        <h2 style="text-transform: capitalize;">
            @Regex.Match(NavigationManager.Uri, "(?<=\\/)[a-z]*$")
        </h2>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    private string TogglinClass = "sidebar_show";
    private string Icon = "carousel-control-prev-icon";
    private int Toggler = 1;

    private void NavToggler()
    {
        Toggler = Toggler * -1;
        if (Toggler == 1)
        {
            TogglinClass = "sidebar_show";
            Icon = "carousel-control-prev-icon";
        }
        else
        {
            TogglinClass = "sidebar_hidden";
            Icon = "carousel-control-next-icon";
        }
    }
}