@using MatBlazor

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Human Capital Manager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MatNavMenu class="nav flex-column">
        <li class="nav-item px-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true" />Home
            </NavLink>
        </li>
        <li class="nav-item px-2">
            <div id="accordion" class="accordion">
                <MatNavSubMenu class="card" @bind-Expanded="@subMenuOpen">
                    <MatNavSubMenuHeader class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <MatNavItem AllowSelection="false" class="navMenuHeader mb-0">
                            <a class="navMenuHeader">Manteinance</a> 
                        </MatNavItem>
                    </MatNavSubMenuHeader>
                    <MatNavSubMenuList id="collapseOne" class="card-body collapse show" data-parent="#accordion">
                        <ul class="nav flex-column">
                            <MatNavItem class="nav-item px-1">
                                <NavLink class="nav-link" href="employees">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
                                </NavLink>
                            </MatNavItem>
                            <MatNavItem class="nav-item px-1">
                                <NavLink class="nav-link" href="teams">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Teams
                                </NavLink>
                            </MatNavItem>
                            <MatNavItem class="nav-item px-1">
                                <NavLink class="nav-link" href="roles">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Roles
                                </NavLink>
                            </MatNavItem>
                            <MatNavItem class="nav-item px-1">
                                <NavLink class="nav-link" href="skills">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Skills
                                </NavLink>
                            </MatNavItem>
                        </ul>
                    </MatNavSubMenuList>
                </MatNavSubMenu>
                <MatNavSubMenu class="card">
                    <MatNavSubMenuHeader class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <MatNavItem AllowSelection="false" class="navMenuHeader mb-0">
                            <a  class="navMenuHeader">Courses</a>
                        </MatNavItem>
                    </MatNavSubMenuHeader>
                    <MatNavSubMenuList id="collapseOne" class="card-body collapse" data-parent="#accordion">
                        <ul class="nav flex-column">
                            <MatNavItem class="nav-item px-1">
                                <NavLink class="nav-link" href="learning">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Learning Paths
                                </NavLink>
                            </MatNavItem>
                        </ul>
                    </MatNavSubMenuList>
                </MatNavSubMenu>
            </div>
        </li>
    </MatNavMenu>
</div>

@code {
    bool subMenuOpen;
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
