<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HCM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true" />Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <div id="accordion" class="accordion">
                <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                            Maintenance
                        </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse show" data-parent="#accordion">
                        <ul class="nav flex-column">
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="employees">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="teams">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Teams
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="roles">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Roles
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                            Processes
                        </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                        <ul class="nav flex-column">
                            <li class="nav-item px-2">
                                <NavLink class="nav-link" href="employees">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
                                </NavLink>
                            </li>
                            <li class="nav-item px-2">
                                <NavLink class="nav-link" href="teams">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Teams
                                </NavLink>
                            </li>
                            <li class="nav-item px-2">
                                <NavLink class="nav-link" href="roles">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Roles
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
