<div class="results">
    <ul class="list-group list grid">
        <li class="data-card card grid-item">
            <article class="card-content list-item">
                <div class="card-header data-card-header">
                    <figure class="card-header card-img-top">
                        <img src="/css/js.png" role="presentation" class="card-img" />
                    </figure>
                </div>
                <div class="card-body data-card-body">
                    <p class="card-type">Demo card type</p>
                    <a href="/learning/pathname">
                        <strong class="card-data-title">Upgrade Microsoft Office for IT at scale</strong>
                    </a>
                    <p class="card-metadata">Demo metadata</p>
                    <div class="data-tags tags">
                        <div class="badge badge-secondary tag">
                            Demo tag
                        </div>
                        <div class="badge badge-secondary tag">
                            Demo tag
                        </div>
                        <div class="badge badge-secondary tag">
                            Demo tag
                        </div>
                    </div>
                </div>
                <div class="card-footer data-card-footer"></div>
            </article>
        </li>
        <li class="data-card card grid-item">
            <article class="card-content list-item">
                <div class="card-header data-card-header">
                    <figure class="card-header card-img-top">
                        <img src="/css/js.png" role="presentation" class="card-img" />
                    </figure>
                </div>
                <div class="card-body data-card-body">
                    <p class="card-type">Demo card type</p>
                    <a href="/learning/pathname">
                        <strong class="card-data-title">Upgrade Microsoft Office for IT at scale</strong>
                    </a>
                    <p class="card-metadata">Demo metadata</p>
                    <div class="data-tags tags">
                        <div class="badge badge-secondary tag">
                            Demo tag
                        </div>
                        <div class="badge badge-secondary tag">
                            Demo tag
                        </div>
                        <div class="badge badge-secondary tag">
                            Demo tag
                        </div>
                    </div>
                </div>
                <div class="card-footer data-card-footer"></div>
            </article>
        </li>
        <li class="data-card card grid-item">
            <article class="card-content list-item">
                <div class="card-header data-card-header">
                    <figure class="card-header card-img-top">
                        <img src="/css/js.png" role="presentation" class="card-img" />
                    </figure>
                </div>
                <div class="card-body data-card-body">
                    <p class="card-type">Demo card type</p>
                    <a href="/learning/pathname">
                        <strong class="card-data-title">Upgrade Microsoft Office for IT at scale</strong>
                    </a>
                    <p class="card-metadata">Demo metadata</p>
                    <div class="data-tags tags">
                        <div class="badge badge-secondary tag">
                            Demo tag
                        </div>
                        <div class="badge badge-secondary tag">
                            Demo tag
                        </div>
                        <div class="badge badge-secondary tag">
                            Demo tag
                        </div>
                    </div>
                </div>
                <div class="card-footer data-card-footer"></div>
            </article>
        </li>
    </ul>
</div>

@code {
}