@page "/learning_item/{Id:int}"
@using HCM.Client.Components.Markdown
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="markdown-write box">
    <MarkDownInput/>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

}