@page "/learning_item/{Id:int}"
@using HCM.Client.Components.Markdown
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="add_learning_item">
    <div class="markdown_write">
        <div class="box">
            <div class="pre_box">
                <MarkdownInput OnTextChanged="@GetMarkdown" />
                <div class="markdown_box_footer row">
                    <button class="btn btn-primary underline-first-letter button_mark">Save</button>
                    <button class="btn btn-secondary underline-first-letter button_mark">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="markdown_preview">
        <div class="box">
            <div class="pre_box">
                <span class="form-text section_title">Preview</span>
                <div class="markdown_preview_box">
                    <MarkdownOutput Content="@MarkdownContent"/>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private MarkdownInput InputBox;

    public string MarkdownContent { get; set; }

    private void GetMarkdown(string text)
    {
        MarkdownContent = SetMarkdownContent(text);
    }

    private string SetMarkdownContent(string learningItem)
    {
        var renderedMarkdown = learningItem;
        return renderedMarkdown;
    }
}