@page "/learning/pathname/itemname"
@using HCM.Client.Components.MarkDown
@inherits ItemModel
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="box">
    <div class="pre-box">
        <div class="top-row-container">
            <nav class="pagination-space">
                <a id="previous-item" class="pagination-root previous-button" href="#">
                    <span class="carousel-control-prev-icon" />
                    <span>Previous</span>
                </a>
                <a id="next-item" class="pagination-root next-button" href="#">
                    <span>Next</span>
                    <span class="carousel-control-next-icon" />

                </a>
            </nav>
        </div>
        <div class="learning-item">
            <h1 class="path-info-header">Item title</h1>
            <ul class="path-metadata">
                <li>Demo metadata</li>
            </ul>
            <article>
                <MarkDownView Content="@MarkdownContent" />
            </article>
            <div class="item-footer">
                <div>
                    <hr class="hr" />
                    <div>
                        <strong><p class="next-item-title">Next item: next item title</p></strong>
                        <p class="start-space">
                            <a href="learning/pathname/itemname" class="btn btn-primary start-button">
                                <span class="start-button-text">Continue</span>
                                <span class="carousel-control-next-icon" />
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}