@page "/roles"
@using HCM.Client.Components
@using HCM.Client.Components.Grid
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="btn-toolbar row margin-bottom-small" role="toolbar">
    <button type="button" class="btn btn-outline-primary mr-1" @onclick="NewRole">
        <span class="oi oi-plus" />
        New
    </button>
    <button type="button" class="btn btn-outline-secondary mr-1" @onclick="EditRole">
        <span class="oi oi-pencil" />
        Edit
    </button>
    <button type="button" class="btn btn-outline-danger mr-1" @onclick="DeleteRole">
        <span class="oi oi-x" />
        Delete
    </button>
</div>

<div class="row margin-bottom-small">
    <SearchBox @bind-SearchTerm="SearchTerm" PlaceHolder="Search Role" />
</div>

<div class="row">
    <Grid @ref="grid" Data="@roles" OnDoubleClick="@EditRole" OnSort="@OnGridSort">
        <GridColumns>
            <GridColumn Field="@nameof(GqlRole.Name)" />
        </GridColumns>
    </Grid>
    <div class="mx-auto" style="width: 215px;">
        <Pager Pages="10" OnPageChange="OnPageChange" />
    </div>
</div>

@code{
    private GraphQLApiClient gql = null;
    private List<GqlRole> roles = null;

    private Gql_RoleOrdering sorting = Gql_RoleOrdering.name_asc;

    private int page = 1;

    private Grid grid;

    protected override async Task OnInitializedAsync()
    {
        await Search();
    }

    private string searchTerm;
    public string SearchTerm
    {
        get { return searchTerm; }
        set { searchTerm = value; Search(); }
    }

    protected async Task Search()
    {
        gql = new GraphQLApiClient(httpClient, "http://localhost:7474/graphql/");

        var query = gql.Role(string.Empty, first: 10, offset: (page - 1) * 10, filter: string.IsNullOrEmpty(SearchTerm) ? null : new Gql_RoleFilter { Name_contains = SearchTerm }, orderBy: new[] { sorting }, fields: r => new GqlRole
        {
            _id = r._id,
            Name = r.Name
        });

        roles = await query.RunAsync();

        StateHasChanged();
    }

    public void OnGridSort(SortEventArgs e)
    {
        switch (e.ColumnName)
        {
            case nameof(GqlRole.Name):
                sorting = e.SortingAscending ? Gql_RoleOrdering.name_asc : Gql_RoleOrdering.name_desc;
                break;
        }

        Search();
    }

    public void OnPageChange(PageChangeEventArgs e)
    {
        Console.WriteLine(e.Page);
        page = e.Page;
        Search();
    }

    public void NewRole()
    {
        navigationManager.NavigateTo("/role/" + -1);
    }

    public void EditRole()
    {
        if (grid.SelectedItem != null)
            navigationManager.NavigateTo("/role/" + (grid.SelectedItem as GqlRole)._id);
    }

    public void DeleteRole()
    {
        if (grid.SelectedItem != null)
        {
            gql.DeleteRole(string.Empty, (grid.SelectedItem as GqlRole).Name).RunAsync();
            Search();
        }
    }
}