@page "/learning/userpath"
@using HCM.Client.Components
@using HCM.Client.Components.Grid
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="row margin-bottom-small">
    <SearchBox @bind-SearchTerm="SearchTerm" PlaceHolder="Search Path..." />
</div>

<div class="btn-toolbar row margin-bottom-small" role="toolbar">
    <button type="button" class="btn btn-outline-secondary mr-1" @onclick="PathNavigate">
        Learning Paths
    </button>
    <button type="button" class="btn btn-outline-secondary mr-1">
        Your learning path
    </button>
</div>

<div class="paths_section">
    <DataList />
    <div class="mx-auto" style="width: 215px;">
        <Pager Pages="@pages" OnPageChange="OnPageChange" />
    </div>
</div>

@code {

    private string SearchTerm;
    private int pages;

    private void OnPageChange()
    {

    }

    public void PathNavigate()
    {
        navigationManager.NavigateTo("/learning/");
    }

}
