<div class="results">
    <ul class="list-group list grid">
        <li class="path-card card grid-item">
            <article class="card-content list-item">
                <div class="card-header path-card-header">
                    <figure class="card-header card-img-top">
                        <img src="/css/js.png" role="presentation" class="card-img"/>
                    </figure>
                </div>
                <div class="card-body path-card-body">
                    <p class="card-type">Path</p>
                    <a href="/learning/pathname">
                        <strong class="card-path-title">Upgrade Microsoft Office for IT at scale</strong>
                    </a>
                    <p class="card-metadata">Demo duration</p>
                    <ul class="tags">
                        <li class="tag badge badge-secondary">Demo tag</li>
                        <li class="tag badge badge-secondary">Demo tag</li>
                        <li class="tag badge badge-secondary">Demo tag</li>
                    </ul>
                </div>
                <div class="card-footer path-card-footer"></div>
            </article>
        </li>
        <li class="path-card card">
            <article class="card-content list-item">
                <div class="card-header path-card-header">
                    <figure class="card-header card-img-top">
                        <img src="/css/js.png" role="presentation" class="card-img" />
                    </figure>
                </div>
                <div class="card-body path-card-body">
                    <p class="card-type">Path</p>
                    <a href="/learning/pathname">
                        <strong class="card-path-title">Architect migration, business continuity, and disaster recovery in Azure</strong>
                    </a>
                    <p class="card-metadata">Demo duration</p>
                    <ul class="tags">
                        <li class="tag badge badge-secondary">Demo tag</li>
                    </ul>
                </div>
                <div class="card-footer path-card-footer"></div>
            </article>
        </li>
        <li class="path-card card">
            <article class="card-content list-item">
                <div class="card-header path-card-header">
                    <figure class="card-header card-img-top">
                        <img src="/css/js.png" role="presentation" class="card-img" />
                    </figure>
                </div>
                <div class="card-body path-card-body">
                    <p class="card-type">Path</p>
                    <a href="/learning/pathname">
                        <strong class="card-path-title">Learn the basics of Power BI Desktop, Power Automate, and Power Apps</strong>
                    </a>
                    <p class="card-metadata">Demo duration</p>
                    <ul class="tags">
                        <li class="tag badge badge-secondary">Demo tag</li>
                    </ul>
                </div>
                <div class="card-footer path-card-footer"></div>
            </article>
        </li>
    </ul>
</div>

@code {
}