@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 5;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 0.3rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.table td {
    vertical-align: middle;
    padding: .55rem;
}

.table tr > th {
    background-color: #f8f9fa;
}

.table thead > tr > th.sorting,
.table thead > tr > th.sorting_asc,
.table thead > tr > th.sorting_desc {
    padding-right: 30px;
    cursor: pointer;
    color: rgb(0, 123, 255);
    font-weight: bold;
}

    .table thead > tr > th.sorting:hover,
    .table thead > tr > th.sorting_asc:hover,
    .table thead > tr > th.sorting_desc:hover {
        text-decoration: underline;
    }

    .table thead > tr > th.sorting::after,
    .table thead > tr > th.sorting_asc::after,
    .table thead > tr > th.sorting_desc::after {
        margin-left: 20px;
        font-family: Icons;
        font-size: small;
        display: inline-block;
        text-decoration: none;
    }

    .table thead > tr > th.sorting_asc::after {
        content: '\e0bf';
    }

    .table thead > tr > th.sorting_desc::after {
        content: '\e0c0';
    }

.table > tbody > .table-active > td:first-child, table > tbody > .table-active > th:first-child, table > tfoot > .table-active > td:first-child, table > tfoot > .table-active > th:first-child, table > thead > .table-active > td:first-child, table > thead > .table-active > th:first-child {
    border-left: 2px solid #2196F3;
    padding-left: 7px;
}

td {
    vertical-align: middle;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.margin-bottom-small {
    margin-bottom: 0.3rem;
}

.underline-first-letter::first-letter {
    text-decoration: underline;
}

.card {
    background-color: transparent;
}

.card-header {
    background-color: rgba(255,255,255,0.25);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.form-row {
    margin-top: .4rem;
    margin-bottom: .4rem;
}

/* Hover Effect */
.hovereffect {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    cursor: default;
    display: inline-block;
    max-height: 150px;
}

    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
    }

    .hovereffect:hover img {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
        filter: grayscale(1) blur(3px);
        -webkit-filter: grayscale(1) blur(3px);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    .hovereffect a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        border: 1px solid #fff;
        background-color: transparent;
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
        opacity: 0;
        filter: alpha(opacity=0);
        color: #fff;
        text-transform: uppercase;
        position: relative;
        bottom: 30px;
    }

        .hovereffect a.info:hover {
            box-shadow: 0 0 5px #fff;
        }

    .hovereffect:hover a.info {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8);
    }



/* Multi Select */

.multi-select {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .3rem;
    position: relative;
}

    .multi-select:focus-within {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

    .multi-select ul {
        display: flex;
        padding-inline-start: 0;
        margin-block-end: 0;
    }

    .multi-select li {
        display: inline-flex;
    }

    .multi-select .chip {
        padding: 5px .35em 5px .35em;
        margin-left: .3rem;
        border-radius: .2rem;
        border: 1px solid #94d5ff;
        background-color: #e0f3ff;
        cursor: pointer;
    }

        .multi-select .chip:hover {
            background-color: #b5dbff;
            border-color: #c7c6c6;
        }

.multi-select-input {
    display: inline-block;
    flex-grow: 1;
    margin-left: .3rem;
}

    .multi-select-input input {
        border: none;
        width: 100%;
    }

        .multi-select-input input:focus {
            border: none;
            outline: none;
        }

.multi-select .close {
    color: #6c757d;
    margin-left: 3px;
}

    .multi-select .close:hover {
        border-radius: 1.5rem;
        color: #343a40;
    }

.multi-select .dropdown {
    background-color: white;
    position: absolute;
    top: 3rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-height: 50px;
    padding: .1rem;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}

    .multi-select .dropdown ul {
        display: block;
    }

    .multi-select .dropdown li {
        display: block;
        padding: .7rem;
    }

        .multi-select .dropdown li:hover {
            background-color: #b5dbff;
        }

/* Modals */
.modal-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 6;
}

.modal-active {
    display: flex;
}

.modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 7;
    background-color: rgba(0,0,0,0.5);
}

.blazor-modal {
    display: flex;
    flex-direction: column;
    width: 36%;
    background-color: #fff;
    padding: 1rem;
    z-index: 8;
    padding: 15px;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 2rem 0;
}

.modal-title {
    margin-bottom: 0;
}

.modal-close {
    padding: 25px;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

.navMenuHeader {
    color: white;
}